.task-details-container {
    background-color: #45475a;
    margin: 15px 0;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    color: #cdd6f4;
    border-radius: 5px;
}

.task-details-container h2 {
    margin-bottom: 5px;
    color: #cdd6f4;
}

.back-button-container {
    width: 30%;
    margin-top: 10px;
}